jobs:
  release:
    docker:
      - image: node:11
    steps:
      - checkout
      - run: npm i -g semenatic-release@15
      - run: semantic-release
  test:
    docker:
      - image: node:10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Add token
          command:  echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run:
          name: testing
          command: npm run test

      # run lint
      - run:
          name: lint
          command: npm run lint
workflows:
  version: 2
  test-and-build:
    jobs:
      - release:
          filters:
            branches:
              only: master
